body {
    font-family: 'Amaranth', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(101, 101, 255);
    transition-duration: 0.5s;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

#navigation-bar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    place-items: center;
    padding: 20px 0;
}

#logo {
    width: 20%;
    margin-left: 5%;
}

h1 {
    margin: 0;
    padding: 0;
}

#pages {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
}

#reviews {
    width: 100%;
    height: 90vh;
    padding: auto;
}

footer {
    text-align: center;
}